body {
    font-family: 'Roboto', sans-serif;
}

div, 
dl, 
dt, 
dd, 
ul, 
ol, 
li, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
pre, 
code, 
form, 
fieldset, 
legend, 
input, 
textarea, 
p, 
blockquote, 
th, 
td {
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 100%;
    font-weight: normal;
}

h2 {
    font-size: 2em !important;
    margin: 1.5em 0 0.5em 0 !important;
}

h3 {
    font-size: 1.4em !important;
    line-height: 1.4em !important;
    margin: 1.4em 0 -0.5em 0 !important;
}

h4 {
    font-size: 1.2em;
    margin: 1.2em 0 -0.5em 0;
}

p {
    margin: 1em 0;
}

a {
    cursor: pointer;
    color: #3174c7;
    text-decoration: none !important;
}

ol, ul {
    list-style: none;
}

div.main-content {
    position: relative;
    margin-top: 7em;
}

.nav-links a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    padding-left: 2em;
    position: relative;
    display: inline-block;
    background-position: center left;
    line-height: 2em;
    padding-top: 5px;
}

.nav-search a {
    text-decoration: none;
    color: white;
    padding-left: 1.5em;
    font-weight: 100;
    letter-spacing: 1px;
    background-repeat: no-repeat;
    background-position: center left;
}

::placeholder {
    color: white;
    letter-spacing: 0.1em;
}

div.tabs {
    clear: both;
    margin-top: -1px;
    display: block;
    font-size: 1em;
    font-family: "Helvetica Neue",HelveticaNeue,Arial,Helvetica,sans-serif;
    border-radius: 5px;
}

ul.tabs {
    display: block;
    position: relative;
    top: 1px;
    height: 40px;
    margin: 20px 20px 0 0 !important;
    border: none;
    padding-left: 2rem;
    font-size: 1em;
}

div.tabs > div {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 1px;
    display: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #bbb;
}

ul.tabs li {
    display: block;
    float: left;
    padding: 0 15px;
    height: 45px;
    font-size: 1.2em;
    margin: 0 5px;
    cursor: pointer;
    line-height: 40px;
    color: #121e32;
    border: 1px solid rgba(0,0,0,0);
    border-bottom: none;
    margin-top: -1px;
    text-indent: 0;
}

ul.tabs li.active {
    display: block;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
}

ul.tabs li:before {
    content: "";
}

div.tabs > div > ul > li {
    display: list-item;
    list-style: disc;
}

div.tabs > div > p:first-child {
    margin-top: 0;
}

div.tabs > div > p {
    margin-bottom: 1rem;
}

div.comments div.comment-add {
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

div.comments div.comment-add h3 {
    margin-top: 0 !important;
    margin-bottom: 0.5em !important;
}

ol.markdown li, 
ol.formatting li, 
ul.markdown li, 
ul.formatting li {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 0.5em 0.5em;
}

ol.markdown li:nth-child(2), 
ol.formatting li:nth-child(2), 
ul.markdown li:nth-child(2),
ul.formatting li:nth-child(2) {
    border-bottom: none;
}

.syntax-highlighter a,
.syntax-highlighter div,
.syntax-highlighter code, 
.syntax-highlighter table, 
.syntax-highlighter table td, 
.syntax-highlighter table tr, 
.syntax-highlighter table tbody, 
.syntax-highlighter table thead, 
.syntax-highlighter table caption, 
.syntax-highlighter textarea {
    border: 0 !important;
    bottom: auto !important;
    float: none !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
    box-sizing: content-box !important;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: inherit !important;
    min-height: auto !important;
    white-space: nowrap;
}

.syntax-highlighter {
    font-size: 13px !important;
    position: relative !important;
    overflow: visible !important;
    width: 100% !important;
    margin: 1em 0 1em 0 !important;
    overflow: auto !important;
    font-size: 1em !important;
    clear: both;
    box-shadow: inset 0 0 3px #555;
    padding: 5px 3px;
    background: #f8f8f8 !important;
    box-sizing: border-box;
}

.tabs .syntax-highlighter .toolbar{
    color: #fff !important;
    border: none !important;
    position: absolute !important;
    right: 2em !important;
    top: 0em !important;
    font-size: 10px !important;
    z-index: 7 !important;
}

.syntax-highlighter table {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
    max-width: 100% !important;
    border-collapse: collapse;
    border-spacing: 0;
}

.syntax-highlighter table td.gutter {
    width: 3.5em !important;
}

div.tabs > div > ul > li > a {
    border-bottom-width: 0px;
    display: block;
    padding: 0px;
    color: #3174c7;
}

div.content div.comments div.comment-add {
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

div.comment-add {
    margin-bottom: 1.5em;
}

ol.markdown, 
ol.formatting, 
ul.markdown, 
ul.formatting {
    margin: 1em 2em 1em 1em;
}

.syntax-highlighter .gutter .line.alt1, 
.syntax-highlighter .gutter .line.alt2 {
    background-color: rgba(0,0,0,0) !important;
}

.syntax-highlighter table td.gutter .line {
    text-align: right !important;
    padding: 2px 0.5em 2px 1em !important;
}

.syntax-highlighter .gutter .line {
    border-right: 3px solid #4e6ca3 !important;
}

.syntax-highlighter .line.alt1 {
    background-color: #fff !important;
}

.syntax-highlighter .line.alt2 {
    background-color: #f8f8f8 !important;
}

.syntax-highlighter .gutter div {
    color: #5c5c5c !important;
}

.syntax-highlighter .line {
    white-space: nowrap !important;
}

.syntax-highlighter .code .container {
    position: relative !important;
    overflow: auto !important;
    margin-right: 0 !important;
}

.syntax-highlighter table td.code .line {
    padding: 2px 1em !important;
}

.syntax-highlighter .toolbar span a {
    font-size: 1.5em !important; 
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif !important;
    color: #fff !important;
    background: #4e6ca3 !important;
    float: right !important;
    padding: 5px 10px !important;
    clear: both;
    display: block !important;
    text-align: center !important;
    text-decoration: none !important;
}

.syntax-highlighter .plain,
 .syntax-highlighter .plain a {
    color: #000 !important;
}

.syntax-highlighter .string,
 .syntax-highlighter .string a {
    color: blue !important;
}

.syntax-highlighter .keyword {
    font-weight: bold !important;
    color: #069 !important;
}

.toc-group h3 {
    margin-bottom: 0.5em !important;
}

div.toc-group {
    display: inline-block;
    width: 100%;
}

div.toc ul {
    color: #069 !important;
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
}

div.toc li:first-child {
    border-top: 1px solid #efefef;
}

div.toc li {
    padding: 0.2em 1em;
    border-left: 4px solid rgba(0,0,0,0);
    border-bottom: 1px solid #e6e6e6;
}

div.fw-container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    clear: both;
    padding: 0 1em 3em 0;
    box-sizing: border-box;
}

div.fw-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
    color: #ccc;
    text-align: right;
    background: #363d46;
    box-shadow: inset 0 8px 10px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.fw-footer div.copyright {
    text-align: right;
    padding: 1em 0;
    margin: 0 2em;
    line-height: 1.8em;
    z-index: 1;
}

div.fw-footer h4 {
    float: right;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url('./imgs/data-icon.png');
    padding-left: 50px;
    line-height: 70px;
    margin-top: 0;
}

div.fw-footer p {
    clear: both;
}

p:last-child {
    margin-bottom: 0;
}

div.nav-main>ul>li:nth-child(1):before, 
div.nav-main>ul>li:nth-child(6):before, 
div.nav-main>ul>li:nth-child(10):before, 
div.nav-main>ul>li:nth-child(1):before, 
div.nav-main>ul>li:nth-child(6):before, 
div.nav-main>ul>li:nth-child(10):before {
    display: block;
    font-weight: 100;
    font-style: italic;
    margin-top: 1em;
    letter-spacing: 1px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}

div.nav-main>ul>li:nth-child(1):before, 
div.nav-main>ul>li:nth-child(1):before {
    content: "Using DataTables";
    margin-top: 0.3333em;
}

div.nav-main>ul>li:nth-child(6):before, 
div.nav-main>ul>li:nth-child(6):before {
    content: "More Help";
}

div.nav-main>ul>li:nth-child(10):before, 
div.nav-main>ul>li:nth-child(10):before {
    content: "Get DataTables";
}

div.fw-nav li.active, 
div.fw-nav li.sub-active, 
li.active, 
li.sub-active {
    background-color: rgba(200,200,200,.1);
}

div.fw-container div.fw-sidebar div.nav-main>ul>li>a, 
div.fw-container div.fw-nav div.nav-main>ul>li>a {
    font-weight: bold;
}

div.fw-nav a, 
div.fw-page-nav a {
    display: block;
    padding: 0.33em 5em 0.33em 0.5em;
    color: #069;
}

div.fw-nav ul li li, 
div.fw-page-nav ul li li {
    text-indent: 2em;
    font-size: .9em;
}

div.fw-nav ul li, 
div.fw-page-nav ul li {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    border: none;
    padding: 0;
    text-indent: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.fw-nav li.active a, 
div.fw-nav li.sub-active a, 
div.fw-page-nav li.active a, 
div.fw-page-nav li.sub-active a {
    border-right: 4px solid #ddd;
}

div.fw-nav li.active a, 
div.fw-nav li.sub-active a, 
div.fw-page-nav li.active a, 
div.fw-page-nav li.sub-active a {
    border-right: 4px solid #ddd;
}

div.fw-nav li.active>a, 
div.fw-page-nav li.active>a {
    border-right: 4px solid #458ae0 !important;
    background-color: rgba(200,200,200,.4);
    color: #000;
}




